.section-box-panel
{
    margin:0;
    padding:0;
    border-top:1px solid #fff;
    border-bottom:1px solid #ccc;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.comcenter-icons
{
    background: url("../imgs/sprite-icons-buttons.png");
    background-position: 0 0;
    height: 26px;
    width: 26px;
    display: inline-block;
    margin-left:6px;
    -moz-box-shadow: 0px 1px 3px #fff inset, 0 1px 0 #ccc !important;/* horz, ver, blur */
    -webkit-box-shadow: 0px 1px 3px #fff inset, 0 1px 0 #ccc !important;
    box-shadow: 0px 1px 1px #fff inset, 0 1px 0 #ccc !important;
}
.icon-phone { background-position: 0  -5px !important;}
.icon-video { background-position: 0  -34px !important;}
.icon-chat { background-position: 0  -66px !important;}
.icon-video-end { background-position: 0  -98px !important;}
.icon-share { background-position: 0  -130px !important;}
.icon-contact-add { background-position: 0  -166px !important;}
.icon-banker.icon-dark { background-position: -28px -196px !important;}

div.ccbutton
{
    font-family: 'Interstate-Regular', verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    position: relative;
    background: #eee;
    margin: 0;
    height: 28px;
    width: 45px;
    margin:6px 0 0 16px;
    border: 1px solid #ccc;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: 0px 1px 3px #fff inset, 0 1px 0 #EBEBEB !important;
    -webkit-box-shadow: 0px 1px 3px #fff inset, 0 1px 0 #EBEBEB !important;
    box-shadow: 0px 1px 1px #fff inset, 0 1px 0 #EBEBEB !important;
    cursor:default;
}
div.icons
{
    float:left;
}
div.ccbutton:hover
{
    border-top:1px solid #A6D0E5;
    border-bottom:1px solid #5B8BA8;
	background: -webkit-gradient(linear, left top, left bottom, from(#1D8ECA), to(#1775A6));
    -moz-box-shadow: 0px 0px 0px #3682cf, 0 0px 0 #003871 !important;/* horz, ver, blur */
    -webkit-box-shadow: 0 0 5px 5px #1D8ECA blur, 0 0 5px 5px #1775A6 blur !important;
    box-shadow: 0px 0px 0px #3682cf, 0 0px 0 #003871 !important;
}
div.ccbutton.disabled
{
    background: #eee;
    border: 1px solid #ccc;
    -moz-box-shadow: 0px 1px 3px #fff inset, 0 1px 0 #EBEBEB !important;
    -webkit-box-shadow: 0px 1px 3px #fff inset, 0 1px 0 #EBEBEB !important;
    box-shadow: 0px 1px 1px #fff inset, 0 1px 0 #EBEBEB !important;
}
div.ccbutton p
{
    position: absolute;
    height: 16px;
    display: inline-block;
    margin: 8px 0 0 0;
    font-weight:500;
    color: #343434;
	text-shadow: 1px 2px #fff;
	border:0px solid red;
	white-space:nowrap;
    z-index: 2;
}
div.ccbutton:hover p
{
    color: #fff;
	text-shadow: -2px -1px #666;
}
div.ccbutton.disabled p
{
    color: #999;
	text-shadow: 1px 2px #fff;
}
div.ccbutton p.red
{
    color:#F90407;
	text-shadow: 0px 0px #F90407;
}
div.ccbutton:hover p.red
{
    color: #fff;
	text-shadow: -2px -1px #666;
}
div.ccbutton.centered
{
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
}
div.ccbutton.centered div
{
    z-index: 2;
    padding: 0;
    font-size: 13px;
    font-weight: 500;
    color: #343434;
    text-shadow: 1px 2px #fff;
}
div.ccbutton.centered:hover
{
    border-top:1px solid #A6D0E5;
    border-bottom:1px solid #5B8BA8;
	background: -webkit-gradient(linear, left top, left bottom, from(#1D8ECA), to(#1775A6));
    -moz-box-shadow: 0px 0px 0px #3682cf, 0 0px 0 #003871 !important;/* horz, ver, blur */
    -webkit-box-shadow: 0 0 5px 5px #1D8ECA blur, 0 0 5px 5px #1775A6 blur !important;
    box-shadow: 0px 0px 0px #3682cf, 0 0px 0 #003871 !important;
}
div.ccbutton.centered:hover div
{
    padding: 0;
    color: #fff;
	text-shadow: -2px -1px #666;
    z-index: 2;
}
div.ccbutton.centered.disabled div
{
    color: #bbb;
	text-shadow: 0 0 #bbb;
}
div.ccbutton.centered.disabled
{
    color: #999;
    border: 1px solid #ccc;
    background: #eee;
    -moz-box-shadow: 0px 1px 3px #fff inset, 0 1px 0 #EBEBEB !important;/* horz, ver, blur */
    -webkit-box-shadow: 0px 1px 3px #fff inset, 0 1px 0 #EBEBEB !important;
    box-shadow: 0px 1px 1px #fff inset, 0 1px 0 #EBEBEB !important;
}
.ccenter-icons
{
    background: url("../imgs/sprite-buttons.png");
    float:left;
    height: 26px;
    width: 26px;
    display: inline-block;
    margin-left:10px;
    margin-right: 4px;
}
.icon-start-call { background-position: 0  0 !important;}
.icon-add-caller { background-position: 0  -32px !important;}
.icon-stop-call { background-position: 0  -66px !important;}

div.ccbutton:hover div.icon-stop-call
{
    background-position: -35px -67px !important;
}
div.ccbutton.disabled  div.icon-stop-call
{
    background-position: -74px 0 !important;
}

div.ccbutton:hover div.icon-start-call
{
    background-position: -35px 1px !important;
}
div.ccbutton.disabled  div.icon-start-call
{
    background-position: -74px 0 !important;
}

div.ccbutton:hover div.icon-add-caller
{
    background-position: -35px -32px !important;
}
div.ccbutton.disabled  div.icon-add-caller
{
    background-position: -74px -34px !important;
}
