.bubble {
	color: #222;
	font: 0.8125em/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-image: -o-linear-gradient(bottom, rgb(200,200,200) 15%, rgb(280,280,280) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(200,200,200) 15%, rgb(280,280,280) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(200,200,200) 15%, rgb(280,280,280) 100%);
    background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.15, rgb(200,200,200)),
	    color-stop(1, rgb(280,280,280))
    );
    background-image: linear-gradient(to bottom, rgb(200,200,200) 15%, rgb(280,280,280) 100%);
	border: solid 1px rgba(0, 0, 0, 0.5);
	/* vendor rules */
	border-radius: 20px;
	/* vendor rules */
	box-shadow: inset 0 5px 5px rgba(255, 255, 255, 0.4), 0 1px 3px rgba(0, 0, 0, 0.2);
	/* vendor rules */
	box-sizing: border-box;
	clear: both;
	float: left;
	margin-bottom: 4px;
	padding: 8px 30px;
	position: relative;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
	width: auto;
	max-width: 300px;
	word-wrap: break-word;
}
.bubble--alt {
    background-image: -o-linear-gradient(bottom, rgb(183,236,255) 15%, rgb(231,249,255) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(183,236,255) 25%, rgb(231,249,255) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(183,236,255) 25%, rgb(231,249,255) 100%);
    background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.25, rgb(183,236,255)),
	    color-stop(1, rgb(231,249,255))
    );
    background-image: linear-gradient(to bottom, rgb(183,236,255) 25%, rgb(231,249,255) 100%);
	float: right;
	margin-right:20px;
}
