                <div class="chatSection" style="margin-left:2px;width:396px;height:470px;border:1px solid #cdcdcd">
	                <div class="sectHeader grad pageTitle" style="padding-left:36px;text-align:left">
		                <span class="bolded" style="font-size:16px;color: #fff">Video Chat</span>
	                </div>
              
<div class="video_poster" style="border:6px solid #fff;">
<video width="190" height="300" id="video_left" poster="imgs/chat/MarilynMonroe.jpg" controls >
  <source src="data/gizmo.mp4" type="video/mp4" />
</video>
</div>
<div class="video_poster" style="border:6px solid #fff;border-left:0 solid #fff;">
<video width="190" height="300" id="video_right" poster="imgs/chat/GregoryPeck.jpg" controls >
    <source src="data/movie.mp4" type="video/mp4" />
</video>
</div>

</div>