<div style='width:398px;float:right;background:#DADEE6;;border:1px solid #cdcdcd'>
    <div id='chat_group_toolbar' style="margin:16px 44px 6px 44px;height:44px">
        <ul class="resultsButtons"><li style="list-style-type: none"></li></ul>
    </div>
    <div>
        <div id='chat_group_holder' class="chat-display swipe"><ul></ul></div>
    </div>
    <div class="sendMessageDiv" style="width:300px;">
        <div><input id="sendGroupMessage" class="sendField" type="text" placeholder="Type your message here" /></div>
    </div>
</div>
