              <div style='width:398px;float:right;background:#DADEE6;;border:1px solid #cdcdcd'>
                <div id='chat_toolbar' style="margin:16px 44px 6px 44px;height:44px">
                    <ul class="resultsButtons"><li style="list-style-type: none"></li></ul>
                </div>
                <div>
                    <div id='chat_display_holder' class="chat-display swipe"><ul></ul></div>
 <!--                   <nav><span id='position'></span></nav> -->
                </div>
                <div class="sendMessageDiv" style="width:300px;">
                    <div><input id="sendMessage" class="sendField" type="text" placeholder="Type your message here" /></div>
                </div>
            </div>
