<div style='z-index:100000;border:0px solid red'>
    <div class="comcenter-container"  style='overflow:hidden;z-index:300000;border:0px solid blue'>
        <div class="chat-pane-left" style=";z-index:2000 !important;position:absolute;overflow:hidden !important;border:0px solid blue">
	        <div class="userContact">
<!--	        <div class="icon-settings" style='height:22px;border:2px solid red'></div> -->
	        </div>
	        <div class="chatToolbar" style="z-index:1010;border:0px solid magenta"></div>
			<div style="height:34px;border:0px solid red;z-index: 1900;">
                <div class="sectionTitle contact-list-title">Contact List</div>
                <div class="contListButton"></div>
            </div>
            <div class="contact panel">
	            <div class="contactList front" style="width:300px;border:0px solid red"></div>
	            <div class="contactSearch back" style="background:#fff;margin-top: 0;padding-left:16px;">
                    <div class="contactGroupList" style="border:0px solid blue;background:#fff;margin: 2px;width:300px;height:330px;">
                     Group Contacts
                    </div>
                </div>
            </div>
        </div>
        <div id='chatDisplaySlider' class='chat-pane-right' style='width:400px;z-index:10 !important;right:0;position:absolute;overflow:hidden !important;border:0px solid red'>
			<div  style='z-index:1000'>
				<div id='chat_toolbar' style="float:left;width:180px !important;margin:16px !important;height:44px;border:0px solid red"></div>
				<div class="section-box-panel standard"  style="width:160px;margin:22px 24px 0 0;float:right;top:30px;background:#ebebeb;height:44px;border:0px solid red">
					<div id="btn-video-add" class="ccbutton icons" style="width:160px;z-index:100000">
						<div class="ccenter-icons icon-start-call"></div><p>Start Video Call</p>
					</div>
					<div id="btn-audio-add" class="ccbutton icons" style="width:160px;z-index:100000">
						<div class="ccenter-icons icon-start-call"></div><p>Start Phone Call</p>
					</div>
				</div>
			</div>
			<div id='chat-container' class='chat-pane-right' style="z-index:996;top:86px;overflow:hidden;right:0;position:absolute;width:400px;border:0px solid red"></div>
			<div id='group-container' class='chat-pane-right' style="z-index:999;top:86px;overflow:hidden;right:0;position:absolute;width:0px;border:0px solid blue"></div>
			<div id='phone-container' class='chat-pane-right' style="z-index:998;top:86px;overflow:hidden;right:0;position:absolute;width:0px;border:0px solid blue"></div>
			<div id='video-container' class='chat-pane-right' style="z-index:997;top:86px;right:0;position:absolute;width:0px;border:0px solid red"></div>
<!--			<div id='chat-settings' class='chat-pane-right' style="z-index:995;top:86px;right:0;position:absolute;width:0px;border:0px solid red"></div>-->
			<div id='chatSettings' class='chat-pane-right' style="z-index:995;top:86px;right:0;position:absolute;width:0px;border:0px solid red"></div>

        </div>
	</div>
	<div class="comcenter-footer grad" style='z-index:10000000;border;1px solid red'>
		<span id='webSocketStatus' class="footer-title" style='color:#212121'>Connected</span>
	</div>
</div>
