<div class="chatSection" style="width:398px;margin-left:2px;">
	<div class="sectHeader grad pageTitle" style="width:398px;float:left;">
		<div class="bolded" style="float:left;font-size:16px;padding-left:24px;color: #fff">Presence</div>
        <div class="btn btn-grey btn-cancel" style="float:right;margin:0 60px 42px 0;">Back</div>
	</div>
    <div class="clear"></div>
	<div class="selection-box" style="background:#DADEE6;cursor:pointer;margin-top:24px;">
        <div class="content">
                <section class="presenceSettings settings-online" presence="settings-online" style="border-bottom:1px solid #aaa"><label style="padding-left: 30px;width:100px">Online</label></section>
                <section class="presenceSettings settings-busy" presence="settings-busy" style="border-bottom:1px solid #aaa"><label style="padding-left: 30px;width:100px">Busy</label></section>
                <section class="presenceSettings settings-away" presence="settings-away" style="border-bottom:1px solid #aaa"><label style="padding-left: 30px;width:100px">Away</label></section>
                <section class="presenceSettings settings-offline no-border" presence="settings-offline"><label style="padding-left: 30px;width:100px">Offline</label></section>
        </div>
    </div>
</div>
