<div class="chatSection" style="margin-left:2px;width:396px;">
	<div class="sectHeader grad pageTitle" style="padding-left:36px;text-align:left">
		<span class="bolded" style="font-size:16px;color: #fff">Settings</span>
	</div>
</div>
<div class="selection-box" style="border:1px solid #aaa;height:60px;margin-top:18px;padding:12px;border-radius: 5px;overflow:hidden" >
        <div class="presence" style="padding-left:0;background:url(<%=user.avatar %>) no-repeat;backgrounf-size:60px 60px;height:60px;width:60px;background-size: contain;"></div>
</div>
<div class="selection-box" style="margin-top:6px;border-radius: 5px;cursor:pointer;overflow:hidden">
    <div class="content">
        <section class="select-presence select-presence-<%=user.presence %>" style="border-bottom:1px solid #aaa;padding: 12px 0;"><label style="padding-left: 36px;">Presence:</label><span style="margin-left:10px"><%=user.presence %></span></section>
        <section class="select-profile select-icon-profile no-border" style="padding: 12px 0;"><label style="padding-left: 36px;">Profile</label></section>
    </div>
</div>
