
            
            <div class="placeToolbar gradient_titleBar">
                <ul>
                    <li class="titleBar_icon"></li>
                    <li class="titleBar_userAndLabel">
                        <span class="titleBar_user">John Smith</span> <span class="titleBar_label">Relationship</span>
                    </li>
                </ul>
                
                <div class="buttons-sub">
                    <ul class="button">
                        <li><span class="subnav_vid"></span></li>
                        <li><span class="subnav_camera"></span></li>
                    </ul>
                </div>
            </div>
            
        

