<div style="margin-bottom:8px;width:300px;float:left;height:60px;border:0px solid red">
<div class="infoContact" style="display:none;background:url(imgs/chat/icon_info.png) no-repeat;width:24px;height:60px;float:left;margin-right:2px"></div>
<div class="deleteContact" style="display:none;background:url(imgs/chat/icon_delete1.png) no-repeat;width:24px;height:60px;float:left;margin-right:2px"></div>
<div class="presence <%=contact.presence %> gender_<%=contact.profile.gender %>" style="float:left;background-image:url(<%=contact.avatar %>);backgrounf-size:60px 60px;height:60px;width:60px;background-size: contain;border:0px solid red"></div>
<div class="contactTitle" style="float:left;border:0px solid red;"><%=contact.profile.firstname %> <%=contact.profile.midname %> <%=contact.profile.lastname %><div class="contact-location"><%=contact.profile.location %></div></div>
</div>
