#placeHead_Topbar .tools {
	position:absolute;
	left: 0px;
	top:0px;
	width: 54px;
	height:54px;
}
#placeHead_Topbar .tools li {
	width: 54px; 
	height: 54px;
	cursor:pointer;
}
#placeHead_Topbar .topmenu_chat {
	background:  url(../imgs/header/sprites_topmenu_nav_combined.png) no-repeat -10px -227px;
}

.login-block{
	height: 270px;
	width:400px;
	background: #222222;
	margin-top: -150px;
	margin-left: -200px;
	position: absolute;
	border: 1px solid black;
	top: 50%;
	left: 50%;
	-moz-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 
  	inset 0 -1px 1px rgba(50,50,50,0.5), 
  	inset 0 1px 1px rgba(140,140,140,0.5); 
  	
}
.login-block .title-bar{ 
	height: 50px; 
	border-bottom: solid 1px #1e1e1e;
	line-height: 50px;
	padding-left: 24px;
	font-size: 20px;
	color: #bcbcbc;
	text-shadow: 2px 1px #101010;
}
.login-block .inlay{
	height: 40px;
	width: 356px;
	line-height: 40px;
	border-radius: 5px;
	margin: 0px auto;
	margin-top: 10px;
	box-shadow: 
  	0 1px 1px #414141, 
  	inset 0 -1px 1px rgba(50,50,50,0.5), 
  	inset 0 1px 1px rgba(7,7,7,0.5); 
	background: #121212;
	font-size: 13px;
	color: #CCCCCC;
	text-shadow: 2px 1px #101010;
}
.login-block .inlay input,.login-block .inlay select{
	color: #CCCCCC;
	background: #121212;
	border: 0px;
	padding-left: 10px;
	font-size: 13px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    width: 346px;
}
.login-block .inlay select{
    padding:3px;
    margin: 0;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}
-webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    width: 356px;
}
.login-block .content{
	padding-top:10px;
	border-top: solid 1px #4b4b4b;
}
.login-block .button{
	width: 356px; 
	height: 40px;
	margin: 0px auto;
	margin-top: 15px;
	border: 1px solid #000;
	box-shadow: 
  	inset 0 -1px 1px rgba(50,50,50,0.5), 
  	inset 0 1px 1px rgba(110,110,110,0.5); 
	background: -webkit-gradient(linear, left top, left bottom, from(#363636), to(#2b2b2b));
	background: -moz-linear-gradient(top, #363636, #2b2b2b); /* For Fx 3.6 to 15 */
	background: linear-gradient(to bottom, #363636, #2b2b2b); /* Standard syntax (must be last) */
	color: #CCCCCC;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
}
.login-block .button:active{
	background: -webkit-gradient(linear, left top, left bottom, from(#3682cf), to(#003871));
	background: -moz-linear-gradient(top, #3682cf, #003871); /* For Fx 3.6 to 15 */
	background: linear-gradient(to bottom, #3682cf, #003871); /* Standard syntax (must be last) */
}
.login-block .button:hover{
	background: -webkit-gradient(linear, left top, left bottom, from(#3682cf), to(#003871));
	background: -moz-linear-gradient(top, #3682cf, #003871); /* For Fx 3.6 to 15 */
	background: linear-gradient(to bottom, #3682cf, #003871); /* Standard syntax (must be last) */
}
.log-in-success{
	left: -800px; 
	opacity: 0;
	transition: left 0.3s, opacity 2s,-webkit-transform 1s;
	-ms-transition: left 0.3s, opacity 2s, -webkit-transform 1s;
	-webkit-transition: left 0.3s, opacity 2s,-webkit-transform 1s;
}

