/******/
.dialog-header{
    line-height: 30px;
    height:35px;
}

.dialog-body .label{
    line-height: 25px;
}
.hoverable{
    cursor:pointer;
}

.notclickable{
    cursor:default !important;
}
.hide{
    display: none;
}

.show{
    display:block;
}

.pull-left { /* TODO: add to the helper class library */

    float: left;
}
.pull-right { /* TODO: add to the helper class library */
    float: right;
}


.pad-left-half{padding-left:5px;}
.pad-left-1{padding-left:10px;}
.pad-left-2{padding-left:20px;}
.pad-left-3{padding-left:30px;}

.pad-right-half{padding-right:5px;}
.pad-right-1{padding-right:10px;}
.pad-right-2{padding-right:20px;}
.pad-right-3{padding-right:30px;}

.pad-top-half{padding-top:5px;}
.pad-top-1{padding-top:10px;}
.pad-top-1_5{padding-top:15px;}
.pad-top-2{padding-top:20px;}
.pad-top-3{padding-top:30px;}

.pad-bottom-half{padding-bottom:5px;}
.pad-bottom-1{padding-bottom:10px;}
.pad-bottom-2{padding-bottom:20px;}
.pad-bottom-3{padding-bottom:30px;}


.round5{
    -webkit-border-radius: 5px;
      border-radius: 5px;
}

.full-center{
    text-align: center;
    margin: 0px auto;
}

.dialog-container{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #ebebeb;
    border-left:1px solid #fff;
    border-top:1px solid #efefef;
    border-bottom: 1px solid #ebebeb;
    border-rigth: 1px solid #ebebeb;
    
    padding:5px 0px 5px 0px;
    margin-left:auto;
    margin-right:auto;    
    display:inline-block;
}

.blackout{
    background-color: black;
    background-image: none;
    opacity: .5;
    z-index: 10000; 
    width:100%;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
}

.fullwindow{
    width: 100%;
    height:100%;
}


.seperator.dim{
    height:0px;
    border:0px;
    border-top:1px solid #d3d3d3;
    border-bottom:1px solid #fff;
}
/********************** Button ************************/

.btn {
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    text-shadow: 2px 1px #101010;
    vertical-align: middle;
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgba(33,33,33,.9);
    box-shadow: 0 1px 1px rgba(255,255,255,0.2), /*bottom external highlight*/
     /*0 -1px 1px #666, /*top external shadow*/ 
     inset 0 -1px 1px rgba(50,50,50,0.5), /*bottom internal shadow*/ 
     inset 0 1px 1px rgba(110,110,110,0.5);
    background: -webkit-gradient(linear, left top, left bottom, from(#404040), to(#303030));
    color: #fff;
    padding: 12px 15px 11px 15px;/*12px 15px 11px 15px*/
    position:relative;
    margin: 0px;
}

.btn.selected {
    background: -webkit-gradient(linear, left top, left bottom, from(#3682cf), to(#003871));
    color: #fff;
}

.btn.disabled {
    opacity: .4;
}


.mini {
    height: 24px;
    padding: 0 10px;
    line-height: 24px;
    box-shadow: none;
    
}

.fixed150 {
    width: 150px
}

.fixed200 {
    width: 200px
}

.fixed300 {
    width: 300px
}



.btn.filter {
    border: none;
    height: 24px;
    /*width: 117px;*/
    border-radius: 12px;
    background: #525252;
    text-align: left;
    text-transform:capitalize;
    padding: 0 0px 0px 10px;
    color: #FBFBFB;
    line-height:24px;
    box-shadow: /*0 1px 2px #fff, 
    /*bottom external highlight*/
     /*0 -1px 1px #666, 
     /*top external shadow*/ 
     inset 0 -1px 1px rgba(50,50,50,0.5), 
     /*bottom internal shadow*/ 
     inset 0 1px 1px rgba(110,110,110,0.5);
     text-shadow: none;
}

.btn.filter .icon { 
    height: 9px;
    width: 9px;
    display:inline-block;
    border: 4px solid gray;
    border-radius: 10px;
    vertical-align: bottom;
    margin-bottom:3px;
    margin-left:-4px;
    margin-right:4px;
    box-shadow: /*0 1px 2px #1be0f7, 
    /*bottom external highlight*/
     -1px -1px 1px #8d8d8d, 
     /*top external shadow*/ 
     inset 0 -1px 1px #8d8d8d, 
     /*bottom internal shadow*/ 
     inset 0 1px 1px rgba(110,110,110,1);
     
}
.btn.filter.series1 .icon { border-color: #791b1b; box-shadow: -1px -1px 1px #98615e, inset 0 -1px 1px #98615e, inset 0 1px 1px rgba(110,110,110,1);}
.btn.filter.series2 .icon { border-color: #935600; box-shadow: -1px -1px 1px #a8762d, inset 0 -1px 1px #a8762d, inset 0 1px 1px rgba(110,110,110,1);}
.btn.filter.series3 .icon { border-color: #720050; box-shadow: -1px -1px 1px #894b7a, inset 0 -1px 1px #894b7a, inset 0 1px 1px rgba(110,110,110,1);}
.btn.filter.series4 .icon { border-color: #004aab; box-shadow: -1px -1px 1px #386fb6, inset 0 -1px 1px #386fb6, inset 0 1px 1px rgba(110,110,110,1);}
.btn.filter.series5 .icon { border-color: #007876; box-shadow: -1px -1px 1px #389190, inset 0 -1px 1px #389190, inset 0 1px 1px rgba(110,110,110,1);}
.btn.filter .close {
    float:right;
    cursor:pointer;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 7px 0px 10px;
}
/*.btn.filter .close::before { content: "x"; }
*/



/* SWITCHER */
.btn.switcher {    padding: 0;    line-height: 1; text-align:left}
.btn.switcher > span {    display: block;    position: relative;    padding: 0 26px 0 10px;    line-height: 40px;    }
.btn.switcher > span::before {
    content: "";
    display: block;
    position: absolute;
    border: 3px solid #CCC;
    border-color: #CCC transparent transparent;
    top: 20px;
    right: 7px;
    width: 0;
    height: 0;
}
.mini.switcher > span {    line-height: 24px;    }
.mini.switcher > span::before { top: 11px; }

.btn.switcher > span::after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 18px;
    display: block;
    content: "";
    width: 1px;
    background-color: #666;
    box-shadow: -1px 0 0 #000;
}

.btn.switcher:hover > span::after, {
    background-color: #fff;
    box-shadow: -1px 0 0 #3c74ab;
}


/* BACK */

.btn.back,
.btn.forward { 
    box-shadow: none;
    height: 32px;
    line-height: 30px;
}


.btn.back { 
    margin-left: 16px; 
    border-left: none; 
    padding: 0px 15px 0px 5px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
}

.btn.back:before {
    content: " ";
    display: block;
    height: 25px;
    width: 25px;
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#404040), color-stop(100%,#303030)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #404040 0%,#303030 100%); /* Chrome10+,Safari5.1+ */
    border-radius: 5px;
    border-left: solid 1px #000;
    border-bottom: solid 1px #000;
    -webkit-transform: rotate(45deg); 
    -webkit-mask-image: -webkit-gradient(linear, left bottom, right top, 
            from(#000000), 
            color-stop(0.5,#000000), 
            color-stop(0.5, transparent), 
            to(transparent));
    position: absolute;
    left: -13px;
    top: 2px;
    -webkit-background-clip: content;
}

 
/* FORWARD********************************************/
.btn.forward { 
    margin-right: 16px; 
    padding: 0px 5px 0px 15px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-right: none;
}

.btn.forward:before {
    content: " ";
    display: block;
    height: 24px;
    width: 24px;
    background: -webkit-gradient(linear, right top, left bottom, color-stop(0%,#404040), color-stop(100%,#303030)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(137deg, #404040 0%,#303030 100%); /* Chrome10+,Safari5.1+ */
    border-radius: 5px;
    border-right: solid 1px #000;
    border-bottom: solid 1px #000;
    -webkit-transform: rotate(135deg);
    -webkit-mask-image: -webkit-gradient(linear, left top, right bottom,
            from(#000000), 
            color-stop(0.5,#000000), 
            color-stop(0.5, transparent), 
            to(transparent));
    position: absolute;
    right: -12px;
    top: 3px;
    -webkit-background-clip: content;
}
 


.btn.icon { height: 28px; padding: 0px 0px;  line-height: 24px; }
.btn.icon span{ vertical-align: 0px; line-height: 27px;  padding: 5px 10px; }
.btn.icon span.icon-all{ padding:0px;}
/*.btn.icon span:nth-child(2){ padding-left: 5px; padding-right: 5px; }*/

.icon-all{
    background: url("../imgs/chat/sprite-icons-buttons.png");
    background-position: 0 0;
    height: 28px; width: 28px;
    display: inline-block;
    /*float: left;*/
}
/*.icon-all {
    float: left;
}*/
.icon-right .icon-all{
    float: right;
}
/* --- NEW CONTEXT BAR ICONS --*/

.btn.header-button {
    text-align: center;
    border-radius: 5px;
    border: none;
    box-shadow: none;
    background: transparent;
}    

/* --light --*/
.icon-banker { background-position: 0  -198px !important;}
.icon-client { background-position: 0  -227px !important; }
.icon-member { background-position: 0  -254px !important; }
.icon-noMember { background-position: 0  -286px !important; }
.icon-group { background-position: 0  -394px !important; }
.icon-noGroup { background-position: 0  -322px !important; }
.icon-openDoc { background-position: 0  -897px !important; }
.icon-doc { background-position: 0  -533px !important; }
.icon-close { background-position: 0  -785px !important; }
.icon-closeX { background-position: 0  -325px !important; }

.icon-account { background-position:  0 -476px !important; }
.icon-noAccount { background-position:  0 -410px !important; }
.icon-clock { background-position: 0  -589px !important; }
.icon-tag { background-position: 0  -616px !important; }
.icon-tagSmall { background-position: 0  -645px !important; }
.icon-search { background-position: 0  -791px !important; }
.icon-removethis { background-position: 0  -786px !important; }
.icon-upload { background-position: 0  -813px !important; }
.icon-download { background-position: 0  -840px !important; }

.icon-flag { background-position: 0  -838px !important; }
.icon-addFolder { background-position: 0  -926px !important; }
.icon-trash { background-position: 0  -450px !important; }
.icon-ticketSmall { background-position: 0  -791px !important; }
.icon-locked { background-position: 0  -365px !important; }
.icon-unlocked { background-position: 0  -339px !important; }
.icon-smArrUp {background-position: 0 -756px !important; }
.icon-smArrDwn {background-position: 0 -730px !important; }

.icon-flag { background-position: 0 -952px !important; }
.icon-lock2 { background-position: 0 -22px !important; }
.icon-video { background-position: 0 -29px !important; }
.icon-chat { background-position: 0 -2px !important; }
.icon-add { background-position: 0 -58px !important; }
.icon-up-arrow { background-position: 0 -85px !important; }
.icon-dwn-arrow { background-position: 0 -113px !important; }
.icon-location { background-position: 0 -140px !important; }
.icon-angle-right { background-position: 0 -169px !important;}

/*-- dark --*/

/*.icon-dark {
    background-position: -30px
}*/

.icon-banker.icon-dark { background-position: -28px -198px !important;}
.icon-client.icon-dark { background-position: -28px  -227px !important; }
.icon-member.icon-dark { background-position: -28px  -254px !important; }
.icon-noMember.icon-dark { background-position: -28px  -286px !important; }
.icon-group.icon-dark { background-position: -28px  -394px !important; }
.icon-noGroup.icon-dark { background-position: -28px  -322px !important; }
.icon-openDoc.icon-dark { background-position: -28px  -897px !important; }
.icon-doc.icon-dark { background-position: -28px  -533px !important; }
.icon-close.icon-dark { background-position: -28px  -785px !important; }

.icon-account.icon-dark { background-position:  -28px -476px !important; }
.icon-noAccount.icon-dark { background-position:  -28px -410px !important; }
.icon-clock.icon-dark { background-position: -28px  -589px !important; }
.icon-tag.icon-dark { background-position: -28px  -616px !important; }
.icon-tagSmall.icon-dark { background-position: -28px  -645px !important; }
.icon-search.icon-dark { background-position: -28px  -791px !important; }
.icon-upload.icon-dark { background-position: -28px  -813px !important; }
.icon-download.icon-dark { background-position: -28px  -840px !important; }

.icon-flag.icon-dark { background-position: -28px 838px !important; }
.icon-extra.icon-dark { background-position: -28px -899px !important; }
.icon-addFolder.icon-dark { background-position: -28px  -926px !important; }
.icon-trash.icon-dark { background-position: -28px  -450px !important; }
.icon-ticketSmall.icon-dark { background-position: -28px  -791px !important; }
.icon-locked.icon-dark { background-position: -28px  -365px !important; }
.icon-removeit.icon-dark { background-position: -28px  -312px !important; }
.icon-unlocked.icon-dark { background-position: -28px  -339px !important; }
.icon-smArrUp.icon-dark {background-position: -28px -756px !important; }
.icon-smArrDwn.icon-dark {background-position: -28px -730px !important; }

.icon-flag.icon-dark { background-position: -28px -952px !important; }
.icon-lock2.icon-dark { background-position: -28px -22px !important; }
.icon-video.icon-dark { background-position: -28px -29px !important; }
.icon-chat.icon-dark { background-position: -28px -2px !important; }
.icon-add.icon-dark { background-position: -28px -58px !important; }
.icon-up-arrow.icon-dark { background-position: -28px -85px !important; }
.icon-dwn-arrow.icon-dark { background-position: -28px -113px !important; }
.icon-location.icon-dark { background-position: -28px -140px !important; }
.icon-angle-right.icon-dark { background-position: -28px -169px !important;}



/** end dark icons **/

ul.btn-group{  list-style:none; display: inline-block;}
ul.btn-group li { float: left; display: inline-block; margin: 0px; padding:0px;}
ul.btn-group li .btn { border-radius: 0px; }
ul.btn-group li:not(:nth-child(1)) .btn{
    border-left-color: rgba(255,255,255,0.1);
}

ul.btn-group li:first-child .btn{ 
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
ul.btn-group li:last-child .btn{ 
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


/* input=textbox */
.textbox.groove {
    white-space: nowrap;
    line-height:1em;
    position:relative;
    outline: none;
    overflow: visible; /* removes extra side padding in IE */
    
    border: 1px solid #999;/* IE */
    border: rgba(0, 0, 0, .2) 1px solid;/* Saf4+, Chrome, FF3.6 */
    -webkit-box-shadow: 0 0px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0px 2px rgba(0,0,0,.2);
    box-shadow: inset 0 0px 2px rgba(0,0,0,.2);
    
    padding:3px;
    /*
-moz-user-select: none;
    -webkit-user-select:none;
    -khtml-user-select: none;
    user-select: none;
*/
    /* margin-bottom:10px; */
}

.textbox.groove.round {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}

.textbox.medium-short{
    height:35px;
    min-width:300px;
}
.textbox.medium{
    height:35px;
    min-width:350px;
    line-height:25px;
}

.textbox.lines3{
    height:100px;
}
.textbox.gray{
    background: #efefef;
}
.textbox.disabled{
    background: #dfdfdf;
}
.btn.normal{
     height: 28px; 
     line-height: 18px;
     padding: 5px 25px 5px 25px;
}



/* INSET BUTTON */
.btn.inset {    
    color: #fff;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    -moz-box-shadow: 0px 1px 3px #000 inset, 0 1px 0 #444;/* horz, ver, blur */
    -webkit-box-shadow: 0px 1px 3px #000 inset, 0 1px 0 #444;
    box-shadow: 0px 1px 1px #000 inset, 0 1px 0 #444 !important;

}

.btn.trans{
    background-color:none!important;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(33,33,33,.05)))!important;
    
    box-shadow: 0 1px 1px rgba(255,255,255,0.2), /*bottom external highlight*/
     /*0 -1px 1px #666, /*top external shadow*/ 
     inset 0 -1px 1px rgba(50,50,50,0.5), /*bottom internal shadow*/
     inset 0 1px 1px rgba(110,110,110,0.5);/*top inner shadow */
}
.btn.trans:hover, .btn.trans.pseudo-hover{ background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(33,33,33,.5)));  }

.btn.trans.selected, .btn.trans.selected:hover {
    background: rgba(33,33,33,.3);
    border-color: rgba(33,33,33,0.7);
    box-shadow: 0 1px 1px rgba(255,255,255,0.2), /*bottom external highlight*/
     /*0 -1px 1px #666, /*top external shadow*/ 
     inset 0 -3px 4px rgba(0,0,0,.1), /*bottom internal shadow*/ 
     inset 0 3px 4px rgba(0,0,0,0.3); /*top inner shadow */
    
}
ul.btn-group li .btn.trans.selected, ul.btn-group li .btn.trans.selected:hover {
    border-left: none;
}

.btn.normal.inset.light{
    color:#666;
    text-shadow:none;

}
.btn.inset.light {
    background: #f2f2f2!important;
    -moz-box-shadow: 0px 1px 3px #ccc inset, 0 1px 0 #444 !important;/* horz, ver, blur */
    -webkit-box-shadow: 0px 1px 3px #ccc inset, 0 1px 0 #444 !important;
    box-shadow: 0px 1px 1px #ccc inset, 0 1px 0 #fff !important;
}


.btn.normal.inset.gray{
    color:#666;
    text-shadow:none;

}
.btn.inset.gray {
    background: #ccc;
    -moz-box-shadow: 0px 1px 3px #ccc inset, 0 1px 0 #444 !important;/* horz, ver, blur */
    -webkit-box-shadow: 0px 1px 3px #ccc inset, 0 1px 0 #444 !important;
    box-shadow: 0px 1px 1px #ccc inset, 0 1px 0 #fff !important;
}

.btn.trans.back:before{
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(33,33,33,0.2))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, rgba(0,0,0,0) 0%,rgba(33,33,33, 0.2) 100%); /* Chrome10+,Safari5.1+ */
}
.btn.trans.back:hover:before, .btn.trans.back.touched:before, .btn.trans.back.pseudo-hover:before {
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(33,33,33,0.5))); 
    background: -webkit-linear-gradient(-45deg, rgba(0,0,0,0) 0%,rgba(33,33,33, 0.5) 100%); 
}


.btn.trans.forward:before{
    background: -moz-linear-gradient(45deg, rgba(0,0,0,0) 0%, rgba(33,33,33,0.2) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(33,33,33,0.2))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(90deg, rgba(0,0,0,0) 0%,rgba(33,33,33,0.2) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg, rgba(0,0,0,0) 0%,rgba(33,33,33,0.2) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(0,0,0,0) 0%,rgba(33,33,33,0.2) 100%); /* IE10+ */
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%,rgba(33,33,33,0.2) 100%); /* W3C */
    
    border:rgba(33,33,33,0.7) solid 1px;
    height: 24px;
    width: 23px;
    right: -11.5px;
    top: 2px;
}

.btn.trans.forward:hover:before, .btn.transforward.touched:before, .btn.trans.forward.pseudo-hover:before {
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(33,33,33,0.5)));
    background: -webkit-linear-gradient(45deg, rgba(0,0,0,0) 0%,rgba(33,33,33, 0.5) 100%);
    
    border:rgba(33,33,33,0.7) solid 1px;
}

.btn.flat, .btn.flat:hover{
    background:none;
    box-shadow: none;
    border: none;
    text-shadow:none;
    color: #F4F4F4;
    
}

.btn.dropdown {
    font-weight: normal;
    color: #f90;
    padding: 12px 15px 11px 15px;
    height: 30px;    
}

/* background for examples (should be in developer.css once ok'd by pg */
.box-example-vault { padding: 20px;  background: #ebebeb; margin-top: 10px;}

/********************** Layout ************************/

.three-column{ width: 100%; height: 100%}
.three-column .column-1,
.three-column .column-2 { position: relative; width: 33%; height: 100%;float: left;}
.three-column .column-3 { position: relative; width: 34%; height: 100%;float: left;}

/********************** mainNav ************************/

/* TODO: Raheem you may have this done already */
    ::-webkit-scrollbar {
        width: 10px;
        height: 20px;
    }

    ::-webkit-scrollbar-track {
        background-clip: padding-box;
        border: solid transparent;
        border-width: 0 0 0 0;
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgba(37, 37, 37, 0.40);
        background-clip: padding-box;
        border: solid transparent;
        border-width: 1px 1px 1px 1px;
        min-height: 60px;
        padding: 100px 0 0;
        box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1),inset 0 -1px 0 rgba(0, 0, 0, .07);
        border-radius: 5px;
    }

    ::-webkit-scrollbar-corner {
        background: transparent;
    }

    ::-webkit-scrollbar-button {
        display: none;
    }

/* END: -webkit scrollbar styles */






/*========================================*/
/*=== Buttons ===*/
/*=======================================*/
.sbutton, .sbutton span {
    display: inline-block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.sbutton {
    white-space: nowrap;
    line-height:1em;
    position:relative;
    outline: none;
    overflow: visible; /* removes extra side padding in IE */
    cursor: pointer;
    border: 1px solid #999;/* IE */
    border: rgba(0, 0, 0, .2) 1px solid;/* Saf4+, Chrome, FF3.6 */
    border-bottom:rgba(0, 0, 0, .4) 1px solid;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    background: -moz-linear-gradient(
        center top,
        rgba(255, 255, 255, .1) 0%,
        rgba(0, 0, 0, .1) 100%
    );/* FF3.6 */
    background: -webkit-gradient(
        linear,
        center bottom,
        center top,
        from(rgba(0, 0, 0, .1)),
        to(rgba(255, 255, 255, .1))
    );/* Saf4+, Chrome */
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000')"; /* IE8 */
    -moz-user-select: none;
    -webkit-user-select:none;
    -khtml-user-select: none;
    user-select: none;
    margin-bottom:10px;
}
sbutton::-moz-focus-inner {
    border: none; /* overrides extra padding in Firefox */
}
sbutton.sbutton  {
    padding:0px;
    margin:0;
}
.sbutton.full, .sbutton.full span {
    display: block;
}
.sbutton:hover, .sbutton.hover {
    background: -moz-linear-gradient(
        center top,
        rgba(255, 255, 255, .2) 0%,
        rgba(255, 255, 255, .1) 100%
    );/* FF3.6 */
    background: -webkit-gradient(
        linear,
        center bottom,
        center top,
        from(rgba(255, 255, 255, .1)),
        to(rgba(255, 255, 255, .2))
    );/* Saf4+, Chrome */
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF')"; /* IE8 */
}
.sbutton:active, .sbutton.active {
    top:1px;
}
.sbutton span {
    position: relative;
    color:#fff;
    text-shadow:0 1px 1px rgba(0, 0, 0, 0.25);
    border-top: rgba(255, 255, 255, .2) 1px solid;
    padding:0.5em;
    line-height:1em;
    text-decoration:none;
    text-align:center;
    white-space: nowrap;
}
.sbutton.small span {
    font-size:12px;
}
.sbutton.medium span {
    font-size:14px;
}
.sbutton.large span {
    font-size:18px;
}
.sbutton.black {
    background-color: #333333;
}
.sbutton.gray {
    background-color: #666666;
}
.sbutton.white {
    background-color: #FFFFFF;
}
.sbutton.white span{
    color: #666666;
}
.sbutton.red {
    background-color: #e62727;
}
.sbutton.orange {
    background-color: #ff5c00;
}
.sbutton.magenta {
    background-color: #A9014B;
}
.sbutton.yellow {
    background-color: #ffb515;
}
.sbutton.blue {
    background-color: #00ADEE;
}
.sbutton.pink {
    background-color: #e22092;
}
.sbutton.green {
    background-color: #91bd09;
}
.sbutton.rosy {
    background-color: #F16C7C;
}
.sbutton.brown {
    background-color: #804000;
}
.sbutton.purple {
    background-color: #800080;
}
.sbutton.cyan {
    background-color: #46C7C7;
}
.sbutton.gold {
    background-color: #D4A017;
}


/** iOS delete button **/
.aDeleteBtn {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    float: right;
    height: 15px;
    line-height: 15px;
    margin: 3px 10px 0 0;
    padding: 0.6em;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
}
 
 
/* red color buttons */
.ui-btn-up-r { border: 1px solid #953403; background: #2567ab; font-weight: bold; color: #fff; cursor: pointer;  text-shadow: 0 -1px 1px #953403; text-decoration: none; background-image: -moz-linear-gradient(top, #ec4a0b, #ad390c); background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ec4a0b),color-stop(1, #ad390c));   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ec4a0b', EndColorStr='#ad390c')"; }
 
.ui-btn-up-r a.ui-link-inherit { color: #fff; }
 
.ui-btn-hover-r { border: 1px solid #953403; background: #f15c22; font-weight: bold; color: #fff;  text-shadow: 0 -1px 1px #014D68; background-image: -moz-linear-gradient(top, #f15c22, #f15c22); text-decoration: none; background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f15c22),color-stop(1, #f15c22));   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f15c22', EndColorStr='#f15c22')";  }
 
.ui-btn-hover-r a.ui-link-inherit { color: #fff; }
 
.ui-btn-down-r { border: 1px solid #225377; background: #79ae21; font-weight: bold; color: #fff; text-shadow: 0 -1px 1px #225377; background-image: -moz-linear-gradient(top, #bc770f, #e6590c); background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #bc770f),color-stop(1, #e6590c));   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#bc770f', EndColorStr='#e6590c')"; }
 
.ui-btn-down-r a.ui-link-inherit { color: #fff; }
 
.ui-btn-up-r, .ui-btn-hover-r, .ui-btn-down-r { font-family: Helvetica, Arial, sans-serif; }


