div.popup {
    position: absolute;
    z-index: 999;
    overflow: hidden;
    color: #000;
/*	font-family: verdana; 
    font-family: Verdana, Arial, Helvetica, sans-serif;*/
    font-size: 14px;
    line-height: 15px;
    text-decoration: none;
}
body{
	color: #FFFFFF;
	overflow: hidden;
	background: #1a1a1a;
}
#iv_app{ 
	height: 100%; 
	overflow: hidden; 
	max-height: 100%;
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;

	padding: 0px;
	margin: 0px;
}
#iv_main { 
	position: absolute;
	left: 0px;
	top: 0px;
	background: #000000;
	overflow: hidden;
	border-left: 2px solid #000;
	height: 100%;
	width: 100%;
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
	/* dropshadow-left */
	box-shadow: -2px 0px 21px rgba(0, 0, 0, 0.73);
    -moz-box-shadow: -2px 0px 21px rgba(0, 0, 0, 0.73);
    -webkit-box-shadow: -2px 0px 21px rgba(0, 0, 0, 0.73);
    -webkit-transition-duration: 200ms;
}
#placeHead_Topbar {
	background: url(../imgs/header/topNavBg.png) repeat-x;
	height: 54px;
	width: 100%;
	min-width:1024px;
	position:relative;
}
#placeHead_Topbar ul.place_logo_block li, #placeHead_Topbar ul.tools li {
	display: inline-block;
}
#placeHead_Topbar .topmenu_menuBtn_off {
	width: 54px;
	background:  url(../imgs/header/sprites_topmenu_nav_combined.png) no-repeat 0px -3px;
}
#placeHead_Topbar .topmenu_logo {
	width: 335px;
	background: url(../imgs/header/sprites_places.png) 5px -37px no-repeat ;
}
#placeHead_Topbar .tools {
	position:absolute;
	right: 0px;
	top:0px;
	width: 378px;
	height:54px;
}
#placeHead_Topbar .tools li {
	width: 54px; 
	height: 54px;
}
#placeHead_Topbar .topmenu_chat {
	background:  url(../imgs/header/sprites_topmenu_nav_combined.png) no-repeat -10px -227px;
}
#placeHead_Topbar .topmenu_search {
	background:  url(../imgs/header/sprites_topmenu_nav_combined.png) no-repeat -10px -321px;
}
/************************ Vault **************/
.inline{
    display: inline-block;
    *display:inline;
    *zoom:1;
    vertical-align:top;
}
.dark{
    color:#666;
}
.round{
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}
.extended-control > input {
    margin-right: 30px;
    padding-right:6px;

}
.extended-control.light{
    background: #fff;
     border: 1px solid #aaa;
}
.extended-control{
   
    margin:5px 25px 5px 25px;
    position: relative;
}
.extended-control > .attach {
    display: block;
    float:right;
    width:20px;
    height:20px;
    position:absolute;
    top:0px;
    right:0px;
    padding:2px 5px 2px 5px;
}
.extended-control > .input.attach{
    min-width:20px;
    background: #fff;
    border-left:0px;
}
.extended-control.medium > input{
    border:0px solid #aaa;
    height:25px;
    padding-right:30px;
    width:90%;
    padding-left:5px;
    font-size:13px;
}
